@page
@model HocSinhModel
@{
    ViewData["Title"] = "Hoc Sinh ";
}
<div class="text-center">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Ma</th>
            <th>Ten</th>
            <th>LopId</th>
            <th>NgaySinh</th>

        </tr>
        @foreach (var item in Model.datas)
        {
            <tr>
                <td><p>@item.Id</p></td>
                <td><p>@item.Ma</p></td>
                <td><p>@item.Ten</p></td>
                <td><p>@item.LopId</p></td>
                <td><p>@item.NgaySinh</p></td>
            </tr>

        }
