@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="text-center">
        <a asp-page="/TodoAdd">Thêm</a>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
            <th>StartDate</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model.datas)
        {
            <tr>
                <td><p>@item.Id</p></td>
                <td><p>@item.Title</p></td>
                <td><p>@item.Content</p></td>
                <td><p>@item.Status</p></td>
                <td><p>@item.StartDate</p></td>
                <td>
                        <a asp-page="/TodoAdd" asp-route-id="@item.Id">Sửa</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id">Xóa</button>
                </td>
            </tr>
        }
    </table>
    
</div>
</form>

